/* 
    Document   : resultstyle
    Created on : Oct 13, 2014, 11:22:12 PM
    Author     : paiyeta1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
    clear: both;
    /* text-align: center;*/
    font-family: 'Droid Serif', arial, serif;
    font-size: 12px;
    color: #000; 
    margin: 0 auto 0px;
    overflow: scroll;
    /*width: 700px;*/
    /* width: 860px;*/
    background-color: #fff;
    padding: 10px;
    /*position: relative;
    right: 200;*/
}

table
{
    width: 100%;
    /* border-style: solid; */
    border-width: 0;
    /* border-color: black; */
    border-collapse: collapse;
    /* border-bottom-style: solid;*/
    /* border-bottom-color: black;*/
    /* border-bottom-width: 0.25;*/
    /* border-top-style: solid;*/
    /* border-top-color: black;*/
    /* border-top-width: 0.25;*/
    
}

