/* 
    Document   : style
    Created on : Oct 8, 2014, 12:57:28 PM
    Author     : paiyeta1
    Description:
        Purpose of the stylesheet follows.
*/


#top_compartment div{
	
	/*background-color: #00008B;*/
	/* border-radius: 5px; */
	clear: both;
	/*color: #fff;*/
	
	font-family: 'Droid Serif', arial, serif;
	font-size: 12px;
	margin: 0 auto 0px;
	overflow: hidden;
	width: 960px;

}

/* Primary Navigation
------------------------------------------------------------ */

#nav {
    /*background-color: #00008B;*/
    /* border-radius: 5px; */
    clear: both;
    /*color: #fff;*/
    text-align: center;
    font-family: 'Droid Serif', arial, serif;
    font-size: 20px;
    margin: 0 auto 0px;
    overflow: hidden;
    width: 960px;
    background-color: #fff;
}

#nav p {margin-left: 0.5cm;}

div #page_bg {   
    background-color:#fff;
}


div #middle_compartment{
    clear: both;
    text-align: center;
    font-family: 'Droid Serif', arial, serif;
    font-size: 12px;
    margin: 0 auto 0px;
    overflow: hidden;
    width: 960px;
    background-color: #fff;
}

div #middle_compartment_left-column{
    width:50px;
    background-color: #fff;
    /* float:left;
    margin-right:-200px;*/   
}

div #middle_compartment_center-column{
    clear: both;
    text-align: center;
    font-family: 'Droid Serif', arial, serif;
    font-size: 12px;
    color: #000; 
    margin: 0 auto 0px;
    overflow: hidden;
    /*width: 700px;*/
    width: 860px;
    background-color: #fff;
    padding: 10px;
    /*position: relative;
    right: 200;*/
    
}

div #middle_compartment_right-column{
    width: 50px;
    background-color: #fff;    
}

div #footer_compartment{	
    clear: both;
    text-align: center;
    font-family: 'Droid Serif', arial, serif;
    font-size: 12px;
    margin: 0 auto 0px;
    overflow: hidden;
    width: 960px;
    background-color: #fff;
}

body{
    background-color:#252525;
}

table
{
    width: 100%;
    /* border-style: solid; */
    border-width: 0;
    /* border-color: black; */
    border-collapse: collapse;
    /* border-bottom-style: solid;*/
    /* border-bottom-color: black;*/
    /* border-bottom-width: 0.25;*/
    /* border-top-style: solid;*/
    /* border-top-color: black;*/
    /* border-top-width: 0.25;*/
}

table tr
{
    background-color: white;
}
table tr.header
{
    background-color: #DDDDDD;
}
table tr.title
{
    background-color: #EEEEEE;
}
table tr td
{
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 0;
    border-color: #678678;
    font-family: 'Droid Serif', arial, serif;
        font-size: 12px;
    text-align: center;
}
table tr td.null
{
    color: #999999;
    text-align: center;
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 0;
    border-color: #678678;
    font-family: 'Droid Serif', arial, serif;
        font-size: 12px;
}
table tr td.separator
{
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 0;
    border-color: #678678;
    background-color: #DDDDDD;
}
table tr td.rownum
{
    padding: 0px 3px 0px 3px;
    border-style: solid;
    border-width: 0;
    border-color: #678678;
    background-color: #DDDDDD;
    text-align: right;
    font-family: 'Droid Serif', arial, serif;
        font-size: 12px;
}

h4.subheader {
    text-align: left
}

p.text-content {
    text-align: left
}
/*
#nav ul {
	float: left;
	width: 100%;
}

#nav li {
	float: left;
	list-style-type: none;
}

#nav li a {
	background: url(images/nav-line.png) no-repeat right
	color: #bdddf3;
	display: block;
	font-family: 'Droid Serif', arial, serif;
	font-size: 14px;
	padding: 13px 22px 13px 20px;
	position: relative;
	text-decoration: none;
}

#nav li.noline a,
#nav li.noline a {
	background: none;
}

#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a {
	color: #aabecb;
}

#nav li li a,
#nav li li a:link,
#nav li li a:visited {
	background: none;
	background-color: #aaa;
	border: 1px solid #ccc;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#nav li li a:hover,
#nav li li a:active {
	background-color: #ccc;
}

#nav li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#nav li ul a {
	width: 140px;
}

#nav li ul ul {
	margin: -31px 0 0 159px;
}

#nav li:hover>ul,
#nav li.sfHover ul {
	left: auto;
}
*/


/* Primary Navigation Extras
------------------------------------------------------------ */
/*
#nav li.right {
	float: right;
	padding: 13px 20px;
}

#nav li.right a {
	background: none;
	border: none;
	color: #fff;
	display: inline;
	text-decoration: none;
}

#nav li.right a:hover {
	color: #363e4c;
	text-decoration: none;
}

#nav li.search {
	padding: 0 10px;
}

#nav li.rss a {
	background: url(images/rss.png) no-repeat center left;
	margin: 0 0 0 10px;
	padding: 0 0 0 18px;
}

#nav li.twitter a {
	background: url(images/twitter-nav.png) no-repeat center left;
	padding: 7px 0 5px 20px;
}
*/

/* Secondary Navigation
------------------------------------------------------------ */
/*
#subnav {
	background-color: #424c5d;
	clear: both;
	color: #fff;
	font-family: 'Droid Serif', arial, serif;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#subnav ul {
	float: left;
	width: 100%;
}

#subnav li {
	float: left;
	list-style-type: none;
}

#subnav li a {
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
}

#subnav li a:hover,
#subnav li a:active,
#subnav .current_page_item a,
#subnav .current-cat a,
#subnav .current-menu-item a {
	background-color: #2b3545;
	color: #fff;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
	background-color: #2b3545;
	border: 1px solid #424c5d;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 138px;
}

#subnav li li a:hover,
#subnav li li a:active {
	background-color: #424c5d;
}

#subnav li ul {
	height: auto;
	left: -9999px;
	position: absolute;
	width: 160px;
	z-index: 9999;
}

#subnav li ul a {
	width: 140px;
}

#subnav li ul ul {
	margin: -31px 0 0 159px;
}

#subnav li:hover>ul,
#subnav li.sfHover ul {
	left: auto;
}
*/



